/* =========================================================
   VARIABLES — Manual de marca Icesi
========================================================= */

:root {
  --blue: #5454e9;
  --blue-dark: #070b34;
  --blue-soft: #f4f4ff;

  --green: #4cb979;
  --green-soft: #eef8f2;

  --yellow: #e4eb60;
  --orange: #e9683b;
  --purple: #865cf0;

  --red: #e9683b;
  --red-soft: #fff3ef;

  --gray-1: #88898c;
  --gray-2: #cecfd4;

  --bg: #f7f7f8;
  --white: #ffffff;

  --line: #cecfd4;
  --radius: 4px;

  --shadow: 0 8px 18px rgba(7, 11, 52, 0.06);
}
